.experience {
  margin-top: 180px;
  background: #111010;
}

.experience__wrap {
  display: flex;
  justify-content: flex-end;
}

.experience__right {
  max-width: 970px;
  width: 100%;
}

.experience__left {
  max-width: 380px;
}