.features {
  margin-top: 140px;

  .title-h2-l {
    text-align: center;
  }
}

.features__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;

  &:last-of-type {
    margin-right: 0;
  }

  p {
    text-align: center;
    margin-top: 48px;
  }
}

.features__item_img {
  width: 98px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}