@import 'normalize.css/normalize';

@include focus-visible;

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  color: $text;
  background: $black;
  font-size: 16px;
  line-height: 140%;
  font-family: 'Noto Sans', sans-serif;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

input,
textarea {
  background: rgba(196, 196, 196, 0.15);
  padding: 20px 24px;
  margin-bottom: 30px;
  border: none;
  color: #ffffff;
  &::placeholder {
    color: #ffffff;
  }
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.title-h2-l {
  font-weight: 500;
  font-size: 92.1053px;
  line-height: 125px;
}

.socials {
  display: flex;
  align-items: center;

  .soc {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}
